<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="nav-link" href="/employees">
            Employee List
        </NavLink>
    </nav>
</div>